.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  border: none;
}
button:hover {
  color: #9268F2;
}
.no-entries {
  margin-bottom: 25px;
}
.no-entries .fa-chevron-up {
 opacity: 0.3;
}
.add-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-new span {
  font-size: 16px;
  color: #9268F2;
}
.add-new i {
  padding-right: 10px;
  padding-left: 10px;
}
h3 {
  margin-top: 0;
}
.wrapper > button {
  margin: 10px 0 30px 0;
}
.entryList {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 12px;
  max-width: 550px;
}
.entryList i {
  font-size: 30px;
}
.dateAndTime {
  padding: 0 10px;
}
.dateAndTime button {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  align-items: center;
}
.dateAndTime small {
  font-size: 15px;
}
.fa-trash-alt, .fa-edit {
  font-size: 22px;
}
.fa-trash-alt {
  font-size: 25px;
}
.popup-overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 8, 61, 0.8);
}
.popup {
  position: relative;
  top: 25%;
  margin: 0 auto;
  max-width: 300px;
  border-radius: 5px;
  background-color: #9268F2;
}
.popup-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.popup-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-content button {
  flex: 0 1 47%;
  justify-content: stretch;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}
.popup-content .cancel {
  border: 1px solid #18083D;
  color: #18083D;
  border-radius: 5px;
}
.popup-content .cancel:hover {
  border: 1px solid #4A19BD;
  color: #4A19BD;
}
.popup-content .delete {
  background: #18083D;
  border: none;
  color: #9268F2;
  border-radius: 5px;
}
.popup-content .delete:hover {
  background: #4A19BD;
}

@media only screen and (min-width: 450px) {
  .entryList i {
    font-size: 32px;
  }
  .dateAndTime button {
    font-size: 25px;
  }  
  .fa-edit,
  .fa-trash-alt {
    font-size: 25px;
  }
  .dateAndTime button {
    flex-direction: row;
  }  
  .dateAndTime small {
    padding-left: 10px;
    line-height: 35px;
  } 
}

@media only screen and (min-width: 550px) {

  .entryList i {
    font-size: 35px;
  }
  
  .dateAndTime button {
    font-size: 30px;
  }  

  .fa-edit,
  .fa-trash-alt {
    font-size: 30px;
  }
}