.links-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  color: white;
  background-color: #120727;
}
.links-container div {
  flex-grow: 1;
}
.links-container div a {
  display: flex;
  color: #5B26D6;
  text-decoration: none;
  justify-content: center;
}
.links-container div {
  border-right: 1px solid #5B26D6;
}
.links-container div:last-child {
  border: none;
}
.links-container div a:hover {
  color: #9268F2;
}
i {
  font-size: 33px;
}

@media only screen and (min-width: 768px) {
  .links-container {
    display: none;
  }
}