.links-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  color: white;
  background-color: #18083D;
}
.links-container > div {
  flex-grow: 1;
}
.links-container > div > a {
  display: flex;
  color: #5F1FF0;
  text-decoration: none;
  justify-content: center;
  border-left: 1px solid #5F1FF0;
}
.links-container > div > a:hover {
  color: #9268F2;
}
i {
  font-size: 33px;
}

@media only screen and (min-width: 768px) {
  .links-container {
    display: none;
  }
}