.homepage {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-weight: 900;
  align-items: center;
}

button {
  font-weight: bold;
  padding: 20px 25px 8px 25px;
  background-color: #9268F2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #5B26D6;
  font-size: 20px;
  margin: 20px 0;
}
button p {
  border-left: 1px solid #5B26D6;
  padding-left: 15px;
}
button:hover {
  cursor: pointer;
  color: #5B26D6;
  background-color: #120727;
}
.homepage i {
  padding: 0 15px 0 0;
  margin-top: -8px;
}
