h1 {
  margin-bottom: 15px;
}
h3 {
  color: #9268F2;
}
.entry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 550px;
}
.entry-container > div {
  width: fit-content;
}
.entry-container button {
  background: transparent;
  border: 1px solid #9268F2;
  color: #9268F2;
  font-family: "Ovo", serif;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px 0px;
}
.entry-container button:hover {
  border: 1px solid #9268F2;
  color: #9268F2;
  cursor: pointer;
}
.entry-container button:hover i {
  color: #9268F2;
}
.entry-container i {
  color: #9268F2;
}
.exit {
  margin-top: 15px;
}
.exit i {
  font-size: 30px;
  opacity: 0.5;
}
.exit i:hover {
  opacity: 1;
  cursor: pointer;
}
small {
  color: inherit;
  line-height: 16px;
}
.hide {
  display: none;
}
.button-group {
  display: flex;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
}
.button-group div {
  width: 100%;
}
.button-group div button {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 93%;
}
.full-width {
  justify-content: stretch!important;
}
.full-width button {
  width: 100%!important;
}
.arrow {
  padding: 10px 0 15px 0;
}
.arrow i {
  font-size: 24px;
  padding: 0 5px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  margin: 0px 25px;
  width: 100%;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.moods-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
#moods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  margin-top: 15px;
  margin-right: -20px;
}
#moods label {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex: 0 1 32%;
  font-size: 70px;
  padding: 0px;
  margin: 0px;
}
#moods label:hover {
  cursor: pointer;
}
fieldset {
  width: fit-content;
  margin-top: 30px;
}
fieldset div {
  width: fit-content;
}
input[type="radio"] + label {
  opacity: 0.3!important;
}
input[type="radio"]:checked + label {
  opacity: 1!important;
}
input[type="radio"]:hover + label {
  opacity: 1!important;
}
.checkboxes {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  border: none;
}
.checkboxes div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  font-weight: bold;
}
.checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxes label {
  display: block;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #9268F2;
  opacity: 0.3;
  border: none;
}
.checkmark:hover {
  background-color: #fff;
}
input:checked ~ .checkmark {
  background-color: #9268F2;
  opacity: 1;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #5B26D6;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social {
  color: #FECD1A;
}
.activity {
  color: #F43B86;
}
.health {
  color: #91D18B;
}
.action {
  color: #efa6b7;
}
.emotion {
  color: #00BDAA;
}
.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto 25px auto;
}
.key li {
  margin: 5px;
  padding-right: 25px;
}
.journal {
  width: 100%;
}
.submit button {
  background-color: #9268F2!important;
  color: #5B26D6!important;
  font-weight: bold;
  font-size: 22px;
  max-width: 400px;
  width: 100%;
}
.submit button:hover {
  background-color: #120727!important;
}
textarea {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  font-size: 24px;
  border: none;
}
@media only screen and (min-width: 400px) {
  #moods {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 0;
  }
  #moods label {
    justify-content: space-between;
    font-size: 70px;
    padding: 3px;
  }  
}
@media only screen and (min-width: 518px) {
  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .checkboxes div {
    justify-content: flex-start;
    flex: 0 1 48%;
    font-size: 16px;
  }
  .checkboxes label {
    justify-content: flex-start;
  }
  #moods label {
    font-size: 70px;
    padding: 5px;
  }  
  .entry-container button:hover {
    border: 1px solid #120727;
    color: #120727;
  }  
  .entry-container button:hover i {
    color: #120727;
  } 
}
@media only screen and (min-width: 768px) {

  .checkboxes div {
    flex: 0 1 32%;
    font-size: 16px;
  }  
  #moods label {
    font-size: 80px;
  }  
  .entry-container {
    max-width: 750px;
  }  
  .exit {
    margin-top: 5px;
  }
  .exit i {
    font-size: 40px;
  }  
}