  <div class="container dash-container">
    <h1>Hello,<br>{{ displayName }}</h1>
    <ng-template [ngIf]="displayAverage" [ngIfElse]="newUser">
      <div>
        <h3>Your average daily mood is {{ displayAverage }} / 5</h3>
        <div class="smiley" *ngIf="average >= 4.5">
          <i class="far fa-laugh-beam fa-10x"></i>
          <div class="phrase">Exceptional!</div>
        </div>
        <div class="smiley" *ngIf="average >= 3.5 && average < 4.5">
          <i class="far fa-smile fa-10x"></i>
          <div class="phrase">Pretty Good!</div>
        </div>
        <div class="smiley" *ngIf="average >= 2.5 && average < 3.5">
          <i class="far fa-meh fa-10x"></i>
          <div class="phrase">Meh</div>
        </div>
        <div class="smiley" *ngIf="average >= 1.5 && average < 2.5">
          <i class="far fa-frown fa-10x"></i>
          <div class="phrase">Not Good</div>
        </div>
        <div class="smiley" *ngIf="average >= 1 && average < 1.5">
          <i class="far fa-sad-tear fa-10x"></i>
          <div class="phrase">Awful</div>
        </div>
      </div>
    </ng-template>
    <ng-template #newUser>
      <div class="welcome">
        <h2>Welcome!</h2>
        <h4>It looks like you're new here.</h4>
        <h4>Let's get started by adding your first entry!</h4>
        <h4>Just click the + sign below.</h4>
        </div>
    </ng-template>
    <button class="add-new" (click)="goToEntryPage()">
      <span>Add</span> <i class="fas fa-plus-circle fa-5x"></i> <span>New</span>
    </button>  
  </div>
