.dash-container {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.dash-container h3 {
  font-size: 18px;
  margin-top: 0px;
}
.avgMoodDiv i {
  color: #2C0F70;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.displayAverage {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}
.avgMoodDiv {
  display: flex;
  justify-content: center;
}
.smiley {
  padding-top: 15px;
  padding-bottom: 15px;
}
.phrase {
  font-size: 20px;
  padding-top: 10px;
}