.dash-container {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.dash-container h3 {
  font-size: 18px;
  margin-top: 0px;
}
.avg-mood i {
  color: #18083D;
}
.welcome {
  margin-bottom: 20px;
}
.welcome > h2 {
  color: #9268F2;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.smiley {
  padding-top: 15px;
  padding-bottom: 15px;
}
.phrase {
  font-size: 20px;
  padding-top: 10px;
}