html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-top: 85px;
  margin-bottom: 100px;
}

body {
  padding: 0;
  font-family: "Ovo", serif;
  color: #18083D;
  clear: both;
  background-color: #4A19BD;
}
a {
  color: #18083D;
}
a:hover {
  color: #9268F2;
}
a:visited {
  color: #9268F2;
}
.active-link {
  color: #9268F2;
}
.fa-plus-circle {
  color: #9268F2;
}
.fa-plus-circle:hover {
  color: #18083D;
}
button {
  font-family: "Ovo", serif;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}

/* tablet */
@media only screen and (min-width: 768px) {
  html {
    margin-top: 125px;
    margin-bottom: 0;
  }
}